/*-------------------------------------
 styles in fonts
 ---------------------------------- */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: cornsilk;
}
/* ----------------------------------
styles in Main body
------------------------------------- */
h1{
    font-size: 30px;
    color: darkslategray;
    padding-left:20px ;

}
.container{
   width: 1500px;
   margin-left:auto;
   margin-right: auto;
   background-color: cornsilk;
   padding-top: 30px;
   padding-bottom: 15px
}

/*----------------------------------
 styles in header
 ----------------------------------- */
 header{
    background-color: blue;
    margin-left:auto;
    margin-right: auto; 
    width: 1500px;
 }
.header-detail{
    display: flex;
    justify-content: center;
    column-gap: 102px;
    padding-left:156px;
   
}
.header-title{
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top:207px;
    margin-bottom: 27px;
}
.header-button{
    padding: 10px 24px;
    background-color: #E02C6D;
    width: 130px;
    border-radius: 10px;
    animation: sliding 0.5s ease-in-out 1s infinite alternate;
            animation-play-state: running;
}
@keyframes sliding{
    0% {
        background-color: purple;
    }
    50%{
        background-color: rgb(3, 32, 31);
    }
    100%{
        background-color: yellow;
    }
}

.header-button a {
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}  

.fa-arrow-right{
    color: #FFFFFF;
    margin-left: 8px;
}
.banner img{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-bottom: 86px;
    margin-right: 141px;
    
}
/*--------------------------------
 styles in list of players
 -------------------------------- */
 .players{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 30px;
     grid-column-gap: 27px;
     margin-left: 180px;
     margin-right: 210px;
 }
 .player{
    width: 330px;
    height: 500px;
    padding: 15px ;
    padding-bottom: 30px;
    background: #FFFFFF;
    align-items: center;

    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }
.player-photo img{
    width: 300px;
    height: 256px;
}
.player-detail{
    width: 300px;
    height: 156px;
}
.player-name{
    font-size: 28px;
    color: #18191F;
    font-weight: bold;
    margin: 10px 0px;
}
.player-info{
    font-size: 16px;
    color: #6C6C6C;
    margin: 10px 0px;
    text-align: justify;
}
/*-----------------------------
 styles in football jersy
----------------------------- */
.jersy-album {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1500px;
    padding-top: 40px;
}
.jersy-photos{
    
        height: 250px;
        width: 350px;
        border: 2px solid goldenrod;
        border-radius: 10px;
        position: relative;
        margin: 10px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
}
.photo img {
    width: 100%;
    border-radius: 10px;
}
.photo-details {
    display: none;
    position: absolute;
    width: 350px;
    height: 250px;
    top: 0;
}
    .photo-details h3 {
        background-color: darkgreen;
        color: white;
        text-align: center;
    }

    .photo-details p {
        color: deeppink;
    }
    .jersy-photos:hover .photo-details {
        display: block;
        background-color: rgba(243, 204, 104, 0.5);
    }

    .jersy-photos:hover .photo {
        transform: scale(1.5) rotate(360deg);
        transition: transform 3s ease-in-out;
    }
/*------------------------------------
 styles in log in content
 -------------------------------------- */
.login-content {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input,
button {
    font-size: 1.3em;
    margin-top: 15px;
    border: 1px solid lightgray;
    padding-left: 10px;
    border-radius: 5px;
}

.login-form button {
    background-color:lightgreen;
    color: darkslategray;
    font-weight: 400;
    padding: 5px;
    border: 0;

}

/*-------------------------------
 styles in footer content
--------------------------------- */
footer{
    margin-left:auto;
    margin-right: auto; 
    width: 1500px;
    text-align: center;
    background-color: cornsilk;
}


.footer-logo img{
    width: 483.87px;
    height: 110px;
    margin-top: 20px;
   
}
.footer-icons{
  color: gray; 
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  
   
}
.fa-facebook-square, .fa-twitter-square, .fa-youtube , .fa-instagram-square {
    margin-right: 14px;
    height: 32px;
    width: 32px;
    background-color: lightblue;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    
}
/*------------------------
  Responsive Media queries
------------------------- */
/*-----------------------
 mobile device
 ------------------------- */

@media only screen and (max-width:688px ){
.container{
    width: 100%;
}

.players,  .jersy-album{
   grid-template-columns: repeat(1, 1fr);

}

}
/*--------------------------
 tablet or ipad
------------------------------- */
@media only screen and (min-width:688px) and (max-width:992px){
.container{
    width: 100%;

}
.players, .jersy-album{
    grid-template-columns: repeat(2, 2fr);
}
}
    

    
